body {
    color: deeppink;
    text-align: center;
    font-family: "Arial";
}

h1 {
    font-size: 24px;
    /* Tamaño reducido del título */
}

p {
    border: 2px solid #ff69b4;
    /* Recuadro rosa fuerte */
    display: inline-block;
    padding: 15px;
    color: #4b0082;
    /* Color del texto a índigo */
    font-size: 18px;
    /* Tamaño de la letra */
    background-color: #f0f8ff;
    /* Fondo color azul claro */
    border-radius: 10px;
    /* Bordes redondeados */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    /* Sombra ligera */
}